{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% block body_block %}
    <div class="container-fluid" style="background-image: url({% static 'images/dog2.jpg' %});background-size: 100% 100%;height: 700px">
        <div style="margin-top: 200px">
            <form id="login_form" method="post" class="form-horizontal" action="{% url 'rango:login' %}">
            {% csrf_token %}
            <div class="form-group">
            <label for="input1" style="color: white" class="col-xs-3 control-label">Username:</label>
            <div class="col-xs-7">
              <input type="text" class="form-control" id="input1" name="username" placeholder="username" >
            </div>
            </div>
            <br />
            <div class="form-group">
            <label for="input2" style="color: white" class="col-xs-3 control-label">Password:</label>
            <div class="col-xs-7">
              <input type="password" class="form-control" id="input2" name="password" placeholder="password" >
            </div>
            </div>
            <div style="text-align: center">
                  <input type="submit" class="btn btn-primary" value="submit" />
            </div>

        </form>
        </div>



    </div>

{% endblock %}